.topo {
  background-color: #55f;
  margin: 0;
  color: #fff;
  display: inline-flex;
  width: 100%;
}
.finalizar {
  background-color: #fff;
  border-radius: 5px;
  font-family: Verdana, Tahoma, sans-serif;
  height: 40px;
  margin: 20px 10px 0px 40px;
  width: 120px;
}
